@font-face {
    font-family: Inter;
    src: url("../assets/font/Inter-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../assets/font/Poppins-Regular.ttf");
}

@font-face {
    font-family: Sen;
    src: url("../assets/font/Sen-Regular.ttf");
}
